.homepage {
    overflow-x: hidden;

}

.hometitle{
    font-size: 2.4rem;
}

.homeText{
font-size: 1.1rem;
}
.registerButton {

    font-size: 1.2em;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
    padding: 15px 30px;
    border-radius: 40px;
    background-color: #e6f4e5;
    color: rgb(1, 68, 1);
    display: flex;
    cursor: pointer;
}

.registerButton:hover {
    background-color: rgb(63, 90, 63);
    color: white;
    transition-duration: 400ms;
}
@media (max-width: 500px) {
    #root{
      width: 100vw;
      height: 100vh;
    }
     .containerBackground{
         margin:auto;
     } 
      
}