.colonneFav {
    width: 20vw;
    height: 100vh;
    background-color: rgb(137, 185, 110);
    display: flex;
    flex-direction: column;
}

.favButton {
    width: 20vw;
    padding: 10px;
    border-radius: 5px;
}

.favTittle {
    text-align: center;
    padding: 20px;
}

.searchVegetable {
    display: flex;
    padding: 5px;
    width: 90%;
}

.vegetableList {
    list-style-type: none;
    overflow-y: scroll;
}

.vegetableSection {
    border: solid 1px rgba(0, 0, 0, 0.479);
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.vegetable {
    margin: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

.vegetableSection:hover {
    background-color: rgb(202, 247, 166);
    // cursor: pointer;
    transition-duration: 800ms;
}

.vegetableIcon {
    width: 50px;
}
