.colonneFav {
    width: 20vw;
    height: 100vh;
    background-color: rgb(182 201 180);
    display: flex;
    flex-direction: column;
}

.favButton {
    width: 20vw;
    padding: 10px;
    border-radius: 5px;
}

.favTittle {
    text-align: center;
    padding: 20px;
}

.searchVegetable {
    display: flex;
    padding: 5px;
    width: 90%;
    margin: auto;
}

.vegetableList {
    margin: 0;
    padding: 15% 0;
    list-style-type: none;
    overflow-y: scroll;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vegetableSection {
    border: solid 1px rgba(0, 0, 0, 0.479);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 40%;
}

@media (max-width: 1200px) {
    .vegetableSection{
        width: 80%;
    }
}


.vegetable {
    margin: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

.vegetableSection:hover {
    background-color: rgb(142, 175, 116);
    // cursor: pointer;
    transition-duration: 400ms;
}

.vegetableIcon {
    width: 50px;
}