.colonneFav {
    width: 20vw;
    height: 100vh;
    background-color: rgb(137, 185, 110);
}

.favButton {
    width: 20vw;
    padding: 10px;
    border-radius: 5px;
}

.favTittle {
    text-align: center;
    padding: 20px;
}

.searchVegetable {
    display: flex;
    padding: 5px;
    margin: auto;
}

.vegetableList {
    list-style-type: none;
}

.vegetable {
    margin: 15px;

}

.vegetable:hover {
    background-color: rgb(134, 100, 56);
    cursor: pointer;
    transition-duration: 400ms;
    content: attr(data-hover);
}