.parcelBoard {
    background-color: rgb(146, 185, 152);
    width: 400px;
    height: 250px;
    margin: auto;
    display: grid;
    place-content: center;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 50px;
    height: 50px;
    border: solid 1px black;
}