.CGUArea {
    background-color: white;
    margin: auto;
    width: 60rem;
    border-radius: 8px;
    padding: 30px 50px;
    // margin-top: 50px;
}

@media (max-width: 900px) {
    .CGUArea {
        width: 70%;
    }
}

.backToHomePageCGU {
    display: flex;
    margin: 30px auto;
    border-radius: 5px;
    border: solid 1px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(233, 255, 220);
}