
.CGUArea {
    background-color: white;
    margin: auto;
    width: 60rem;
    border-radius: 8px;
    padding: 30px 50px;
    margin-top: 25px;
        
}
.backToHomePageCGU {
    display: flex;
    margin: 30px auto;
    border-radius: 5px;
    border: solid 1px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(233, 255, 220);
}  

@media (max-width: 900px) {
    
    .CGUArea {
        width: 60%;
       display: flex; 
       flex-direction: column;
    }
}

