#root {
    background-image: url(../../assets/images/image1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.team {
    margin-top: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card {
    
    margin: 2rem;
}
.footer{
position:fixed;
}
@media (max-width: 500px) {
    #root{
        display: flex;
        flex-shrink: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

