.team {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
    text-align: center;
}

@media (max-width: 390px) {
    .team {
        justify-content: center;
    }
}