
.loginForm {
    margin: auto;
    width: 40rem;
    padding: 30px 50px;
    background-color: rgb(255, 255, 255);
    // margin-top: 100px;
    border-radius: 8px;
}

@media (max-width: 800px) {
    .loginForm {
        width: 70%;
    }
}

.connectionTitle {
    margin-bottom: 30px;
    text-align: center;
}