
.container{
    margin-top: 11em;
}
.loginForm {
    margin-right: 30rem;
    width: 40rem;
    padding: 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height: fit-content;
    margin: auto;
    top: 50%; /* poussé de la moitié de hauteur du référent */
}

.connectionTitle {
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 500px) {
   .container{
       width: 100vw;
       display: flex;
       margin: auto;
   }
    .loginForm {
        width: 80%;
    }
    
}