//#root{
////    box-sizing: border-box;
////    height: 100vh;
////    background-size: cover;
////}
//

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.loginForm {
    width: 40rem;
    padding: 30px 50px;
    background-color: rgb(255, 255, 255);
    // margin-top: auto;
    border-radius: 8px;
    height: fit-content;
    margin: auto;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.connectionTitle {
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 500px) {
    body{
        display: flex;
        justify-content: center;
    }
    .loginForm {
        width: 70%;
        margin-top: 12.5rem;
    }
    
}