
.contactForm {
    margin: auto;
    width: 40rem;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    height: fit-content;
    margin: auto;    
    padding: 30px 50px;
    margin-top: 4rem;
}

@media (max-width: 800px) {
    #root {
        height: 100vh;
        display: flex;
    }
    .contactForm {
        width: 85%;
        height: fit-content;
        margin: auto;

    }
}

.connectionTitle {
    text-align: center;
}

.divButtonContact {
    margin-top: 20px;
}