

.loginForm {
    margin: auto;
    width: 40rem;
    border: solid 1px rgb(0, 37, 8);
    padding: 30px 50px;
    margin-left: 47rem;
}

@media (max-width: 800px) {
    .loginForm {
        width: 70%;
    }
}

.connectionTitle {
    margin-bottom: 30px;
    text-align: center;
}

.divButtonContact {
    margin-top: 20px;
}