.errorPage {
}

.gifError {
    display: flex;
    margin: auto;
}

.backToHomePage {
    display: flex;
    margin: 15px auto;
    border-radius: 5px;
    border: solid 1px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(233, 255, 220);
}

@media (max-width: 500px) {
    .gifError {
        width: 100vw;
    }
}