.errorPage {
    display: flex;
    flex-direction: column;
    background-color: rgba(185, 196, 185, 0.767);
    height: 55vh;
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    border-radius: 10px;
}

.pageTitle {
    text-align: center;
}

.gifError {
    display: flex;
    margin: 30px auto;
    width: 70vh;
}

@media (max-width: 500px) {
    #root{
        background-image: none;
    }
    .gifError {
        width: 100vw;
    }
}