
  .profilForm{
    display: inline-block;
    background-color: white;
    margin-left: 15em;
    width: 40rem;
    border-radius: 8px;
    padding: 30px 50px;
    margin-top: 8em;
    height: fit-content;
  }
  
  @media (max-width: 500px) {
  #root{
    width: 105vw;
    height: 100vh;
  }
    
  .profilForm {
    height: fit-content;
    width: fit-content;
    padding: 1.5em 1.5em;
    margin: auto;
  }
    }
  .profilTitle {
    margin-bottom: 20px;
    text-align: center;
  }