

.text-on-image {
    
    // position: fixed; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    background-color: rgba(48, 46, 46, 0.466);
    color: rgb(229, 240, 233);
    padding-left: 20px;
    padding-right: 20px;
    max-width: 200px;
    margin: auto;
    height: 70%;
    text-align: center;
    box-shadow: black;
    border-radius: 5px;
}
@media (max-width: 500px) {
    .text-on-image {
        width: 70%;
        margin-top: 12.5rem;
    }
}

.container {
    height: 100vh;
}


